﻿@model WebApp.Models.Student

@{
    ViewData["Title"] = "Информация о студенте";
}

<h2>Информация о студенте</h2>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExaminationNames)
        </dt>
        <dd>
            @string.Join(", ", Model.ExaminationNames?.Select(n => $"\"{n}\"") ?? Enumerable.Empty<string>())
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Изменить", "Edit", new { student_id = Model.Id }) |
    <a asp-action="Index">Вернуться к списку</a>
</div>
