﻿@model WebApp.Models.Student

@{
    ViewData["Title"] = "Редактор студента";
    string group_name_editor_id = "GroupNameEditor";
}

@inject IStudentService _studentService;

@if (Model == null)
{
    <h2>Создать студента</h2>
}
else
{
    <h2>Изменить студента</h2>
}

<h4>Студент</h4>
<hr />
@using (Html.BeginForm(Model == null ? "Edit" : "Add"))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-4">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })
                @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GroupName, new { @class = "control-label" })
                @Html.EditorFor(m => m.GroupName, new { htmlAttributes = new { @id = group_name_editor_id, @class = "form-control" } })
                <button type="button" class="btn btn-default" onclick="SetRandomGroupName()">Случайная группа</button>
                <div>
                    @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
}

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function SetRandomGroupName() {
            $("@Html.Raw($"#{group_name_editor_id}")").val("@Html.Raw($"{_studentService.GetRandomGroupName()}")");
        }
    </script>
}
