﻿@model IEnumerable<WebApp.Models.Student>

@{
    ViewData["Title"] = "Список студентов";
}

<h2>Список студентов</h2>

<p>
    <a asp-action="Add">Добавить</a>
</p>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var student in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { student_id = student.Id }) |
                    @Html.ActionLink("Подробнее", "Details", new { student_id = student.Id }) |
                    @Html.ActionLink("Удалить", "Remove", new { student_id = student.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <h3>Список пуст</h3>
}